<div class="grid gap-6">
  @for (player of players; track player.id) {
    <div class="grid grid-cols-4 items-center gap-x-4">
      <img
        (keypress.enter)="onRemovePlayer(player.id)"
        (click)="onRegenerateAvatar(player.id)"
        [src]="player.avatarUri"
        alt="Avatar"
        tabindex="0"
        class="w-3/4"
      />
      <span class="col-span-2 text-xl capitalize">{{ player.name }}</span>
      <button
        mat-mini-fab
        (keypress.enter)="onRemovePlayer(player.id)"
        (click)="onRemovePlayer(player.id)"
        tabindex="0"
        class="mx-auto"
        color="primary"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  } @empty {
    <span class="mx-auto text-xl text-gray-500">Añade participantes</span>
  }
</div>
