<div class="grid grid-cols-3 gap-x-3 gap-y-6">
  @for (player of players; track player.id) {
    <div class="flex flex-col items-center gap-y-2">
      <img
        (keypress.enter)="onRegenerateAvatar(player.id)"
        (click)="onRegenerateAvatar(player.id)"
        [src]="player.avatarUri"
        alt="Avatar"
        tabindex="0"
        class="rounded-full"
      />
      <span class="col-span-2 max-w-full truncate text-xl capitalize">
        {{ player.name }}
      </span>
    </div>
  } @empty {
    <span class="col-span-full mx-auto text-xl text-gray-500">
      Añade participantes
    </span>
  }
</div>
